body {
    font-family: Arial, monospace;
    background-color: #202020;
    color: #CFCFCF;

    -webkit-font-smoothing: antialiased;
}

button {
    border-radius: 5px;
    border-color: #CFCFCF;

    background-color: #202020;
    color: #CFCFCF;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

/* ID specific CSS */

#tabs {
    min-height: 50px;
}

#image {
    flex: 1;
    max-width: 15%;
}

#armor {
    flex: 1;
    display: flex;
}

#gear {
    flex: 1;
}

#inv-settings {
    flex: 1;
    max-width: 15%;
    min-height: 100%;
}

#shop {
    flex: 1;
    max-width: 25%;
    min-height: 100%;
}

/* Class specific CSS */

.hidden {
    display: none;
    visibility: hidden;
}

.centered {
    text-align: center;
}

.box {
    border: 2px solid #CFCFCF;
    padding: 10px;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.itemslot {
    /* Lets the width be divided equally between slots */
    flex: 1;
    margin: 2px;

    /* Simple rounded border */
    border: 2px solid #CFCFCF;
    border-radius: 5px;

    min-width: 66px;
    min-height: 66px;
    max-width: 66px;
    max-height: 66px;

    text-align: right;
}

.itemslot:hover:not(:has(.removal-x:hover)) {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.itemslot:active:not(:has(.removal-x:active)) {
    background-color: rgba(255, 255, 255, 0.2);
}

.inventory {
    /* Displays it relative to other elements*/
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    /* Fills all of parent containers width and height*/
    width: 100%;
    height: 100%;

    /* Some spacing*/
    padding: 10px;

    /* Aligns children in center */
    justify-content: center;
}

.removal-x {
    display: unset;

    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    color: #FF5555;
    border-radius: 5px;

    padding: 0 2px 0 2px;
    font-size: 18px;
}

.removal-x:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.removal-x:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.header {
    flex: 1;
    text-align: center;
    margin: 5px;
}

.number-picker {
    flex: 1;
    font-size: 24px;
    font-weight: bold;

    margin-left: 12.5%;
    margin-right: 12.5%;
}

.number-picker-button {
    flex: 1;
    border-radius: 0;

    font-size: 18px;
    font-weight: bold;
}

.number-field {
    flex: 1;

    align-self: center;
    text-align: center;
    vertical-align: center;

    padding: 0;
}

.add {
    border-color: rgba(100, 255, 100, 0.6);
    color: rgba(100, 255, 100, 0.6);
    background-color: rgba(100, 255, 100, 0.2);
}

.add:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.add:active {
    background-color: rgba(0, 255, 0, 0.6);
}

.remove {
    border-color: rgba(255, 100, 100, 0.6);
    color: rgba(255, 100, 100, 0.6);
    background-color: rgba(255, 100, 100, 0.2);
}

.remove:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.remove:active {
    background-color: rgba(255, 0, 0, 0.6);
}

.data-table {
}